{% extends "base_generic.html" %}

{% block title %}
<title>Detail</title>
{% endblock %}

{% block content %}
<div>
    <h3 class="text-warning">View Collection Entry</h3>
</div>
<div>
    <h5><strong>#{{ data.id }}</strong></h5>
    <p><strong>Base ID: </strong>{{ data.mini.baseid }}</p>
    <p><strong>Name: </strong>{{ data.mini.name }}</p>
    <p><strong>Notes: </strong>{{ data.notes }}</p>
    {% if data.mini.image.url is not None %}
    <div class="container-m">
        <img class="img-fluid" src='{{ data.mini.image.url }}' alt="#{{data.id}} {{data.mini.name}}">
    </div>
    {% else %}
    <p>No Image Uploaded</p>
    {% endif %}

</div>
{% endblock %}
