{% extends "base_generic.html" %}

{% block title %}
<title>Collection</title>
{% endblock %}

{% block content %}
<table class="table table-hover">

    <tr>
        <th class="text-nowrap table-fit">Base ID</th>
        <th>Name</th>
        <th>Notes</th>
        <th class="table-fit"></th>
        <th class="table-fit"></th>
    </tr>

    {% for data in page_obj %}
    <tr>
        <td>
            {{data.mini.baseid}}
        </td>
        <td>
            <a href="/catalogue/collection/detail/{{data.id}}">{{data.mini.name}}</a>
        </td>
        <td class="d-none d-sm-table-cell">
            {{data.notes}}
        </td>
        <td>
            <a href="/catalogue/collection/update/{{data.id}}">Edit</a>
        </td>
        <td>
            <a href="/catalogue/collection/delete/{{data.id}}">Delete</a>
        </td>
    </tr>
    {% endfor %}

    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li><a href="?page=1">&laquo; first</a></li>
            <li>&nbsp;<a href="?page={{ page_obj.previous_page_number }}">prev</a>&nbsp;</li>
        {% endif %}
    
            <li>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
    
        {% if page_obj.has_next %}
            <li>&nbsp;<a href="?page={{ page_obj.next_page_number }}">next</a>&nbsp;</li>
            <li><a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
    </ul>

</table>
{% endblock %}
