{% extends "base_generic.html" %}

{% block title %}
<title>Catalogue</title>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<a href="/catalogue/catalogue/create">Create New Entry</a>
{% endif %}
<table class="table">

    {% for data in page_obj %}

    <tr>
        <td class="text-nowrap">
            {{data.baseid}}
        </td>
        <td>
            <a href="/catalogue/catalogue/detail/{{data.id}}">{{data.name}}</a>
        </td>
        <td class="d-none d-sm-table-cell">
            {{data.notes}}
        </td>
        {% if user.is_authenticated %}
        <td>
            <a href="/catalogue/catalogue/update/{{data.id}}">Edit</a>
        </td>
        <td>
            <a href="/catalogue/catalogue/delete/{{data.id}}">Delete</a>
        </td>
        {% endif %}
    </tr>

    {% endfor %}

    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li><a href="?page=1">&laquo; first</a></li>
            <li>&nbsp;<a href="?page={{ page_obj.previous_page_number }}">prev</a>&nbsp;</li>
        {% endif %}
    
            <li>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
    
        {% if page_obj.has_next %}
            <li>&nbsp;<a href="?page={{ page_obj.next_page_number }}">next</a>&nbsp;</li>
            <li><a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
    </ul>

</table>
{% endblock %}
