{% extends "base_generic.html" %}

{% block title %}
<title>Catalogue</title>
{% endblock %}

{% block content %}
<table>

    {% for data in dataset %}.

    <tr>
        <td>
            {{data.baseid}}
        </td>
        <td>
            {{data.name}}
        </td>
        <td>
            {{data.notes}}
        </td>
        <td>
            <a href="/catalogue/catalogue/update/{{data.id}}">Edit</a>
        </td>
        <td>
            <a href="/catalogue/catalogue/delete/{{data.id}}">Delete</a>
        </td>
    </tr>

    {% endfor %}

</table>
{% endblock %}
