{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% block title %}
<title>Update Catalogue Entry</title>
{% endblock %}

{% block content %}
<div>
    <h3 class="text-warning">Update Catalogue Entry</h3>
</div>
<form method="POST" enctype="multipart/form-data">

    <!-- Security token -->
    {% csrf_token %}

    <!-- Using the formset -->
    {{ form|crispy }}
    
    <button type="submit">Update</button>
    <a href="/catalogue/catalogue/list/">Cancel</a>
</form>
{% endblock %}
